<!DOCTYPE html>

<html>
<head>
	<title>My Bootstrap Navigation Bar</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    	<!-- Navigation bar -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
				<a class="navbar-brand" href="#">My Website</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

    <div class="jumbotron text-center">
    <h1>Targeted Antibiotic Dosing Program</h1>
    <p>Enter the patient's information below to get started.</p>
    </div>
      
    <div class="container">
        <h2>Patient Demographics</h2>
        <form>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" class="form-control" id="age" placeholder="Enter age">
          </div>
          <div class="form-group">
            <label for="gender">Gender:</label>
            <select class="form-control" id="gender">
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="weight">Weight (in kg):</label>
            <input type="number" class="form-control" id="weight" placeholder="Enter weight">
          </div>
          <div class="form-group">
            <label for="height">Height (in cm):</label>
            <input type="number" class="form-control" id="height" placeholder="Enter height">
          </div>
          <div class="form-group">
            <label for="ethnicity">Ethnicity:</label>
            <input type="text" class="form-control" id="ethnicity" placeholder="Enter ethnicity">
          </div>
          <div class="form-group">
            <label for="albumin">Albumin:</label>
            <input type="text" class="form-control" id="ethnicity" placeholder="Enter Albumin">
          </div>
          <div class="form-group">
            <label for="serum_creatine">Serum Creatine:</label>
            <input type="text" class="form-control" id="ethnicity" placeholder="Enter cerum creatine">
          </div>
          <div class="form-group">
            <label for="cystatin">Cystatin:</label>
            <input type="text" class="form-control" id="ethnicity" placeholder="Enter cystatin">
          </div>
          <div class="form-group">
            <label for="bloodUrine">Blood Urine Nitrogen:</label>
            <input type="text" class="form-control" id="ethnicity" placeholder="Enter blood urine nitrogen">
          </div>
          <div class="form-group">
            <label for="mic">MIC of Organism:</label>
            <input type="text" class="form-control" id="ethnicity" placeholder="Enter MIC of Organism">
          </div>  
          <h2>Medication Specifics</h2>  
          <div class="form-group">
            <label for="medication">Medication:</label>
            <select class="form-control" id="medication" placeholder="Select a medication"> 
              <option>Cefepime</option>
              <option>Piperacillin</option>
              <option>Meropenem</option>
              <option>Ceftazidime</option>
              <option>Ampicillin</option>
              <option>Vancomycin</option>
              <option>Cefazolin</option>
              <option>Ceftolozane</option>
              <option>Penicillin</option>
              <option>Cefiderocol</option>
              <option>Fluconazole</option>
            </select>
            <div class="form-group">
                <label for="dose">Dose:</label>
                <input type="text" class="form-control" id="dose" placeholder="Enter dose">
              </div>  
              <div class="form-group">
                <label for="infusion">Infusion time:</label>
                <input type="text" class="form-control" id="infusion" placeholder="Enter infusion time">
              </div>  
              <div class="form-group">
                <label for="frequency">Frequency:</label>
                <input type="text" class="form-control" id="frequency" placeholder="Enter frequency">
              </div>  
              <div class="form-group">
                <label for="rate">Rate:</label>
                <input type="text" class="form-control" id="rate" placeholder="Enter rate">
              </div>                                                        
          </div>                                      
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>     

	<!-- Bootstrap JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
